<!--
* FILE			      :	footer.ejs
* PROJECT		    	:	COMP229 SEC 402
* PROGRAMMER	  	:	Yehoshya Markh
* SID             :   301257634
* DATE            :   2022-10-07
-->

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
  </nav>