<!--
* FILE			    :	about.ejs
* PROJECT			:	COMP229 SEC 402
* PROGRAMMER		:	Yehoshya Markh
* SID               :   301257634
* DATE              :   2022-10-07
-->
<link href="./content/css/about.css" rel="stylesheet" type="text/css">
<div class="about-cont">
    <h1> <%= title %>  </h1>
    <img class="me" src="./content/images/me.jpg">
    <p> My name is <b>Yehoshya Markh</b>, I'm 24 years old and I live in Kitchener. I currently live with my parents and work part time at ToysRUs, I hobby program in my spare time and spend as much time as I can trying to learn new things, languages being another hobby that I have.</p>
    <br/>
    <p>Here is a link to my <a href="./content/files/resume.pdf" type="application/pdf"> resume</a>. </p>
</div>