<!--
* FILE			    :	home.ejs
* PROJECT			:	COMP229 SEC 402
* PROGRAMMER		:	Yehoshya Markh
* SID               :   301257634
* DATE              :   2022-10-07
-->
<link href="./content/css/home.css" rel="stylesheet" type="text/css">
<div class="home-cont">
    <h1> <%= title %>  </h1>
    <p>
        Welcome to my portfolio, as of now theres not much on it but I plan to add more as time comes.
    </p>
    <br/>
    <p> My mission is to just become good at programming, I enjoy it and I want to understand the various fields that encompass development as a whole</p>
    <br/>
    <img src="./content/images/robot-preview.png"/>
</div>


