<!--
* FILE			    :	longin.ejs
* PROJECT			:	Express Portfolio Authentication (A2)
* PROGRAMMER		:	Yehoshya Markh
* SID               :   301257634
* DATE              :   2022-10-20
-->
<link href="./content/css/login.css" rel="stylesheet" type="text/css">
<div class="login-cont">
    <h1> <%= title %>  </h1>
    <p>
        <form id="form" class="topBefore" action="/home">
            <input id="username" type="text" placeholder="USERNAME">
            <input id="password" type="text" placeholder="PASSWORD">
        <input id="submit" type="submit" value="Login!">
    </p>
    <br/>
    <br/>
</div>


