<!--
* FILE			    :	projects.ejs
* PROJECT			:	COMP229 SEC 402
* PROGRAMMER		:	Yehoshya Markh
* SID               :   301257634
* DATE              :   2022-10-07
-->

<!--I tried splitting the projects up into 3 different divs, probably could have done a list instead but found it just easier this way and clearer to read-->
<link href="./content/css/projects.css" rel="stylesheet" type="text/css">
<div class="projects-cont">
    <h1> <%= title %>  </h1>
    <div class="proj">
        <a href="https://gamepickerbase.herokuapp.com/"><h2>Game Picker</h2></a> 
        <img  src="./content/images/gamepicker.JPG">
        <br/>
        <br/>
        <p>Probably most extensive personal project, its basically an entire site dedicated to games, similar to other game websites, it lets you click on most things on the page and view a bunch of different games. Links to multiple external websites. </p>
    </div>
    <div class="proj">
        <a href=" https://altord.github.io/top-tictactoe/"><h2>Tic-Tac-Toe</h2></a> 
        <img  src="./content/images/ttt.JPG">
        <br/>
        <br/>
        <p>Basic tic tac toe. Its just JS + CSS, it was one of the first projects I did while following The Odin Project</p>
   
    </div>
    <div class="proj">
        <a href="https://altord.github.io/js-weather-app/"><h2>Weather App</h2></a> 
        <img  src="./content/images/weather.JPG">
        <br/>
        <br/>
        <p>A basic weather app that allows users to search whatever country or city in the world they want and have it presented to them. Another project I did while working through The Odin Project</p>
   
    </div>
</div>