
<!--
* FILE			    :	service.ejs
* PROJECT			:	COMP229 SEC 402
* PROGRAMMER		:	Yehoshya Markh
* SID               :   301257634
* DATE              :   2022-10-07
-->
<link href="./content/css/services.css" rel="stylesheet" type="text/css">

<div class="services-cont">
    <h1> <%= title %>  </h1>
    <img class="webdev" src="./content/images/webdev.png">
    <p>I offer website management/creation through wordpress or more traditional means. I can also do things in mobile apps, general programming and whatever else you might need related to programming. </p>
    <br/>
    <p>Here's a look at my portfolio/github if you'd like more information: <a href="https://github.com/Altord"><b>Github</b></a> </p>
</div>